body {
    background-color: #e0def4;
}

 a {
    color: #191724	
}

a {
    font-family: 'Roboto', sans-serif;
}

nav ul, li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

ul, a {
    text-decoration: none;
}


.arrow {
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 2rem;
    background-color: #e0def4;
    margin: 5px;
}

.styled {
    display: flex;
    border: none;
    line-height: 2.5;
    padding: 0 250px;
    font-size: 1.5rem;
    text-align: center;
    background-color:#e0def4;
    margin: 5px;
}

label, textarea {
    letter-spacing: 1.5px;
}
.text-box {
    display: flex;
    justify-content: center;
}

textarea {
    display: flex;
    max-width: 100%;
    border: none;
    background-color:#9ccfd8		
}

label {
    display: flex;
}

label ul,li {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 600px) {

    .content {
        width: 80%;
    }
    
    
    footer {
        text-align: right;
    }

    
}