* {
    margin: 0px;
    padding: 0px;
  }

  #sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #9ccfd8;
    left: -300px;
    transition: .4s;
  }

  #sidebar ul li {
    display: flex;
    color: #191724;
    font-size: 20px;
    padding: 40px 60px;
  }

  #sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
  }

  .toggle-btn span {
    width: 45px;
    height: 4px;
    background: #9ccfd8;
    display: block;
    margin-top: 4px;
  }

  #sidebar.active {
    left: 0;
  }

body {
    background-color: #e0def4;
}

a {
    color: #191724	
}

a {
    font-family: 'Roboto', sans-serif;
}

nav ul, li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

a:visited {
    color: #191724;
}

a:hover {
    color: #9ccfd8;
}

ul, a {
    text-decoration: none;
}


.arrow {
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 2rem;
    background-color: #e0def4;
    margin: 5px;
}

.styled {
    display: flex;
    border: none;
    line-height: 2.5;
    padding: 0 250px;
    font-size: 1.5rem;
    text-align: center;
    background-color:#e0def4;
    margin: 5px;
}



label, textarea {
    letter-spacing: 1.5px;
}
.textbox {
    display: flex;
    justify-content: center;
}

textarea {
    display: flex;
    max-width: 100%;
    border: none;
    background-color:#9ccfd8		
}

label {
    display: flex;
}

label ul,li {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

    
@media screen and (max-width: 600px) {

    
}